body { background: #cccccc;}

.ui-mobile #HomePage {  background-color: #cccccc; }


/* Style used to wrapp all main icons */
.IconWrapper {
    width: 100%;
    padding: 0;
    margin:0;
}
/* Container used to display 3 icons in a row */
.IconContainer {
    float:left;
    width:33%;
    text-align: center;
    padding-bottom: 15px;
}
/* Formats the href link */
.IconContainer .ui-link {
    text-decoration: none;
    color:#111111;
    text-shadow: 0 1px 1px #fff;
    font-weight: normal;
}
/* Sets the image to use as the icon from the sprit for Accounts */
.AccountsIcon {
    background-image:url('../images/icons_sprite.png');
    background-repeat: no-repeat;
    background-position: -68px 0px;
    height:57px;
    width:57px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* Sets the image to use as the icon from the sprit for Contacts */
.ContactsIcon {
    background-image:url('../images/icons_sprite.png');
    background-repeat: no-repeat;
    background-position: -2px 0px;
    height:57px;
    width:57px;
    margin-left: auto;
    margin-right: auto;
}
/* Sets the image to use as the icon from the sprit for Opportunities */
.OpportunitiesIcon {
    background-image:url('../images/icons_sprite.png');
    background-repeat: no-repeat;
    background-position: -133px 0px;
    height:57px;
    width:57px;
    margin-left: auto;
    margin-right: auto;
}
/* Sets the image to use as the icon from the sprit for Leads */
.LeadsIcon {
    background-image:url('../images/icons_sprite.png');
    background-repeat: no-repeat;
    background-position: -3px -67px;
    height:57px;
    width:57px;
    margin-left: auto;
    margin-right: auto;
}
/* Sets the image to use as the icon from the sprit for Campaigns */
.CampaignsIcon {
    background-image:url('../images/icons_sprite.png');
    background-repeat: no-repeat;
    background-position: -67px -132px;
    height:57px;
    width:57px;
    margin-left: auto;
    margin-right: auto;
}
/* Sets the image to use as the icon from the sprit for Calls */
.CallsIcon {
    background-image:url('../images/icons_sprite.png');
    background-repeat: no-repeat;
    background-position: -68px -67px;
    height:57px;
    width:57px;
    margin-left: auto;
    margin-right: auto;
}
/* Sets the image to use as the icon from the sprit for Meetings */
.MeetingsIcon {
    background-image:url('../images/icons_sprite.png');
    background-repeat: no-repeat;
    background-position: -133px -67px;
    height:57px;
    width:57px;
    margin-left: auto;
    margin-right: auto;
}
/* Sets the image to use as the icon from the sprit for Tasks */
.TasksIcon {
    background-image:url('../images/icons_sprite.png');
    background-repeat: no-repeat;
    background-position: -2px -132px;
    height:57px;
    width:57px;
    margin-left: auto;
    margin-right: auto;
}


